<div>
  <div class="table-container">
    <div class="form-container">
      <input type="text" placeholder="Name" [(ngModel)]="newProduct.name" />
      <input type="number" placeholder="Price" [(ngModel)]="newProduct.price" />
      <input
        type="number"
        placeholder="Amount"
        [(ngModel)]="newProduct.amount"
      />
      <input
        type="text"
        placeholder="Category"
        [(ngModel)]="newProduct.category"
      />
      <button (click)="saveProduct()">Agregar</button>
    </div>

    <div class="filter-container">
      <label for="category">Filter by Category:</label>
      <select
        id="category"
        [(ngModel)]="selectedCategory"
        (change)="filterByCategory()"
      >
        <option value="">All Categories</option>
        @for (category of categories; track category.id) {
        <option value="{{ category.name }}">{{ category.name }}</option>
        }
      </select>
    </div>

    <div class="search-container">
      <input
        type="text"
        placeholder="Buscar producto por nombre"
        [(ngModel)]="searchQuery"
      />
      <button (click)="searchProductByName()">Buscar</button>
    </div>

    <table class="product-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for( product of lProducts; track product.id){
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.category }}</td>

          <td>
            <!-- Botones de actualizar y eliminar -->
            <button (click)="deleteProduct(product.id)" class="delete-button">
              Delete
            </button>
            <button (click)="editProduct(product)" class="update-button">
              Update
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div class="pagination-container">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
    </div>

    <!-- Ventana emergente de actualización -->
    @if (isEditVisible) {
    <div class="update-popup">
      <h3>Actualizar Producto</h3>
      <input
        type="text"
        placeholder="Name"
        [(ngModel)]="editProductData.name"
      />
      <input
        type="number"
        placeholder="Price"
        [(ngModel)]="editProductData.price"
      />
      <input
        type="number"
        placeholder="Amount"
        [(ngModel)]="editProductData.amount"
      />
      <input
        type="text"
        placeholder="Category"
        [(ngModel)]="editProductData.category"
      />
      <button (click)="updateProduct()">Guardar cambios</button>
      <button (click)="closeEditPopup()">Cancelar</button>
    </div>
    }
  </div>
</div>
