<div class="table-container">
  <!-- products creting form -->
  <div class="form-container">
    <input type="text" placeholder="Name" [(ngModel)]="newProduct.name" />
    <input type="number" placeholder="Price" [(ngModel)]="newProduct.price" />
    <input type="number" placeholder="Amount" [(ngModel)]="newProduct.amount" />

    <select [(ngModel)]="newProduct.category">
      <option value="" disabled selected>Category</option>
      @for (category of categories; track category.id) {
      <option [value]="category">{{ category.name }}</option>
      }
    </select>
    <button (click)="saveProduct()">Agregar</button>
  </div>

  <!-- filter and seach container -->
  <div class="search-filter-container">
    <div class="search-container">
      <input
        type="text"
        placeholder="Search a product by its name"
        [(ngModel)]="searchQuery"
      />
      <button (click)="searchProductByName()">Buscar</button>
    </div>

    <div class="filter-container">
      <label for="category">Filter by Category:</label>
      <select
        id="category"
        [(ngModel)]="selectedCategory"
        (change)="filterByCategory()"
      >
        <option value="">All Categories</option>
        @for (category of categories; track category.id) {
        <option value="{{ category.name }}">{{ category.name }}</option>
        }
      </select>
    </div>
  </div>

  <!-- products table -->
  <table class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for( product of productList; track product.id){
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.amount }}</td>
        <td>{{ product.category }}</td>

        <td>
          <!-- delete and update buttons -->
          <button (click)="deleteProduct(product.id)" class="delete-button">
            Delete
          </button>
          <button (click)="editProduct(product)" class="update-button">
            Update
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <!-- pagination -->
  <div class="pagination-container">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next
    </button>
  </div>

  <!-- pop-up for updating -->
  @if (isModalEditVisible) {
  <div class="update-popup">
    <h3>Actualizar Producto</h3>
    <div class="form-container-update">
      <div class="input-group">
        <input
          type="text"
          placeholder="Name"
          [(ngModel)]="editProductData.name"
        />
        <input
          type="number"
          placeholder="Price"
          [(ngModel)]="editProductData.price"
        />
      </div>
      <div class="input-group">
        <input
          type="number"
          placeholder="Amount"
          [(ngModel)]="editProductData.amount"
        />
        <select [(ngModel)]="editProductData.category">
          <option disabled value="">Seleccionar categoría</option>
          <!-- default value -->
          @for (category of categories; track category.id) {
          <option [ngValue]="category.name">{{ category.name }}</option>
          }
        </select>
      </div>
      <div class="button-group">
        <button (click)="updateProduct()" class="save-button">
          Guardar cambios
        </button>
        <button (click)="closeEditPopup()" class="cancel-button">
          Cancelar
        </button>
      </div>
    </div>
  </div>
  }
</div>
