.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 20%;
}

.form-container button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.form-container button:hover {
  background-color: #218838;
}

/* Contenedor de búsqueda y filtro */
.search-filter-container {
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  width: 80%;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 300px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #0056b3;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-container label {
  margin-right: 10px;
  font-size: 1em;
}

.filter-container select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

/* Tabla de productos */
.product-table {
  width: 80%;
  border-collapse: collapse;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 10px;
  overflow: hidden;
}

.product-table th {
  background-color: #87ceeb;
  color: #000;
  padding: 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-table td {
  padding: 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
}

.product-table tr:hover {
  background-color: #ddd;
}

/* Estilos para los botones de acciones en la tabla */
.delete-button,
.update-button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.update-button {
  background-color: #4caf50;
  color: white;
}

.delete-button:hover {
  background-color: #e53935;
}

.update-button:hover {
  background-color: #43a047;
}

/* Paginación */
.pagination-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-container button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-container button:hover {
  background-color: #0056b3;
}

.pagination-container span {
  font-size: 1.2em;
}
/* Pop-up centrado */
.update-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Alinear inputs en una fila */
.form-container-update {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacio entre los inputs */
}

.input-group input {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

/* Estilo de los botones */
.button-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
}

.update-popup button.save-button {
  color: white;
  background-color: #28a745;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.update-popup button.save-button:hover {
  background-color: #218838;
}

.update-popup button.cancel-button {
  color: white;
  background-color: #dc3545;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.update-popup button.cancel-button:hover {
  background-color: #c82333;
}
